.header-dawn{
    height:100vh;
    background-image: url(../../images/backgroundimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
    animation: slide-up 2s;
}
@keyframes slide-up {
    from{
        opacity: 0.2;
        line-height: 200px;
    }
    to{
        opacity: 1;
        line-height: 25px;
    }
}
.text{
    width: 80%;
    text-align: justify;
    padding-top: 190px;
    padding-left: 110px;
    word-spacing: 10px;
    
}

@media screen and (max-width:576px){
    .header-dawn{
        height:150vh;

    }
    .text{
        color: white;
    }
}