.topic{
    width: 320px;
    height:500px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    border-radius: 8px;
}
.topic img{
    width: 306px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
    background-color: gainsboro;
}
.topic-info{
    text-align: center;
}
.topic-info p{
    font-size: 18px;
}
.details-btn{
    padding: 16px 28px;
    background-color: rgb(25, 227, 143);
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    cursor: pointer;
}
.topic:hover{
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
@media screen and (max-width:576px){
    .topic{
        width:85%;
    }
    .topic img{
        width: 96%;
    }
}
