.topic{
    width: 300px;
    height: 490px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
}
.topic img{
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
    background-color: aquamarine;
}
.topic-info{
    text-align: center;
}
.details-btn{
    padding: 16px 28px;
    background-color: rgb(25, 227, 143);
    border: none;
    font-size: 18px;
    color: white;
    border-radius: 15px;
}
@media screen and (max-width:576px){
    .topic{
        width:85%;
    }
    .topic img{
        width: 96%;
    }
}
