.header-dawn{
    height:90vh;
    background-image: url(../../images/ground2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
    /* margin-bottom: 20px; */
}
.text{
    text-align: center;
    padding-top: 190px;
    padding-left: 40px;
    padding-right:50px;
    
}
@media screen and (max-width:576px){
    .header-dawn{
        height:130vh;

    }
}