.header-dawn{
    height:100vh;
    background-image: url(../../images/backgroundimage.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;

}
.text{
    width: 80%;
    text-align: justify;
    padding-top: 190px;
    padding-left: 110px;
    word-spacing: 10px;
    
}

@media screen and (max-width:576px){
    .header-dawn{
        height:150vh;

    }
    .text{
        color: white;
    }
}