
.font{
   display: flex;
   margin-left: 8%;
   align-items: center;
}
.question-container{
    display: flex;
    align-items: center;
    margin-left: 12%;
}
.question{
    border: none;
    padding: 2% 5%;
    margin: 2% 20%;
    border: 2px solid lightpink;
    border-radius: 15px;
}
.options{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border: none;
}
@media screen and (max-width:576px) {
    .question{
       width: 83%;
       margin-left:3%;
    }
}